/* Start NavBar */
.navbar {
  background-color: #232f3f;
}
.navbar .navbar-nav .nav-item a i {
  font-size: 18px;
  transition: all 0.75s;
}
.navbar .navbar-nav .nav-item a:hover .fa-facebook-f {
  color: rgb(38, 89, 255);
}
.navbar .navbar-nav .nav-item a:hover .fa-instagram {
  color: rgb(255, 38, 121);
}
.navbar .navbar-nav .nav-item a:hover .fa-youtube {
  color: rgb(255, 15, 15);
}
.navbar .navbar-nav .nav-item a:hover .fa-pinterest-p {
  color: rgb(255, 65, 65);
}
.navbar .navbar-nav .nav-item a:hover .fa-twitter {
  color: rgb(38, 175, 255);
}
/* End NavBar */

/* all Image */
img {
  cursor: pointer;
}
/* Small Screen */
@media screen and (max-width:990px){
    #totalPriceArea{
        display: block !important;
        text-align: center;
        font-size: 14px;
    }
    .index{
        display: none;
    }
    .desc{
        display: none;
    }
    .title{
        font-size: 12px;
    }
    #checkOutArea{
        justify-content: center !important;
    }
}